<h1>Update Task</h1>

<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :complete %>
    <%= form.check_box :complete %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>